FlightServiceClientSolution/FlightServiceClientConsole/Service References/ClientRef/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50436/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FlightIISServices.Entity" />
  <xs:element name="GetFlightsBySourceDestinationTravellersAndClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="source" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="destination" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="traveller" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="flightClass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlightsBySourceDestinationTravellersAndClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FlightIISServices.Entity" minOccurs="0" name="GetFlightsBySourceDestinationTravellersAndClassResult" nillable="true" type="q1:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FilteringFlights">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FlightIISServices.Entity" minOccurs="0" name="result" nillable="true" type="q2:Result" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FlightIISServices.Entity" minOccurs="0" name="filter" nillable="true" type="q3:Filter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FilteringFlightsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FlightIISServices.Entity" minOccurs="0" name="FilteringFlightsResult" nillable="true" type="q4:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/FlightIISServices.Entity" minOccurs="0" name="flight" nillable="true" type="q5:Flight" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/FlightIISServices.Entity" minOccurs="0" name="customer" nillable="true" type="q6:Customer" />
        <xs:element minOccurs="0" name="travellers" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewBookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewBookingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bookindId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelBookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelBookingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCardDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/FlightIISServices.Entity" minOccurs="0" name="result" nillable="true" type="q7:Result" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/FlightIISServices.Entity" minOccurs="0" name="card" nillable="true" type="q8:Card" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCardDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/FlightIISServices.Entity" minOccurs="0" name="SaveCardDetailsResult" nillable="true" type="q9:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>